<h1>Here are some contacts</h1>
<ul>
<% @contacts.each do |contact| %>
  <li>
    <a href="/contacts/<%= contact['id'] %>">
      <%= contact['first'] %>
    </a>
  </li>
<% end %>
</ul>
<a href="/contacts/new">Add a new contact</a>