<h1>Let's make a contact</h1>

<form action="/contacts" method="post">
  <label for="first">First Name</label><br>
  <input type="text" name="first"><br>
  <label for="last">Last Name</label><br>
  <input type="text" name="last"><br>
  <label for="age">Age</label><br>
  <input type="number" name="age"><br>
  <button>Add Contact</button>
</form>