<li>
	<div class="items">
		<%=task.name %>
		<div class="actions">
			<%=button_to "complete", complete_task_url(task), remote: true%>
			<%=button_to "delete", task_url(task), :method => :delete, remote: true%>
		</div>
	</div>
</li>