<form action="/houses/new" method="POST">
  <label for="name">Name</label>
  <input type="text" name="name"><br>
  <label for="sigil">Sigil</label>
  <input type="text" name="sigil"><br>
  <label for="motto">Motto</label>
  <input type="text" name="motto"><br>
  <button>Create New House</button>
</form>