<form action="/houses/new" method="POST">
  <label for="name">Name</label>
  <input type="text" name="name">
  <label for="sigil">Sigil</label>
  <input type="text" name="sigil">
  <label for="motto">Motto</label>
  <input type="text" name="motto">
  <button>Create New House</button>
</form>