<h1>What up, <%= @dog.name %></h1>

<a href="/dogs/<%= @dog.id %>/edit">Edit Dog</a>
<!-- go to an edit action -->
<!-- render a edit form -->
<!-- the form should have the dog's info -->
<form action="/dogs/<%= @dog.id %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <button>Delete Dog</button>
</form>