<h1>New Task</h1>

<form action="/todos" method="post">
  Task: <input type="text" name="task"><br/>
  Description: <input type="text" name="description"><br/>
  Due Date: <input type="text" name="due_date"><br/>
  <button>New Task</button>
</form>