body {
  background-color: black;
  font-size: 30px;
  font-family: Georgia;
  color: white;
}

#gamePlayArea {
  width: 100%;
  height: 200px;
  margin: 30px;
}

#hangmanArea {
  width: 50%;
  height: 100%;
  float: right;
}

#letterArea {
  width: 46%;
  height: 100%;
  float: left;
}

#lettersUsed {
  height: 50%;
}
#guessBox {
  height: 50%;
}

#guessedLetters {
  font-size: 20px;
  height: 70%;
}

#wordString {
  letter-spacing: 10px;
  font-size: 100px;
  text-align: center;
}

input {
  border: 5px solid white;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  padding: 15px;
  background: rgba(255,255,255,0.5);
}

.button {
  display: block;
  margin: 30px auto;
  font-family: Impact, Arial;
  letter-spacing: 2px;
  font-size: 40px;
  color: white;
  padding: 14px;
  background-color: rgba(255,0,51,1);
  border: 1px solid #f03;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
.button: hover {
  background-color: rgba(255,0,51,0.8);
 }