<h2>Contact</h2>
<p>Name: <%= @contact.name %></p>


<p>Tasks:<br/>

 
  <%= render partial: 'todos/todo', collection: @contact.todos %>
</p>

<a href="/contacts/<%= @contact.id %>/edit">Edit Contact</a>
<br/><br/>
<form action="/contacts/<%= @contact.id %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <button>Delete Contact</button>
</form>