<!-- STEP 5: Review the DOM layout in this file -->
<div id="container">
	<h3>Ajax Todo App</h3>
	<p>Todo Items:</p>

	<div id="unfinished">
		<input type="text" id="new-task-field"><button id="add-item">New Task</button>
		<hr>
		<ol id="todo-items"></ol>
	</div>

	<hr>
	<p>Completed Items:</p>

	<div id="finished">
		<ul id="completed-items"></ul>
	</div>
</div>