<script id="app-template" type="x-handlebars-template">
  <h1>Weapons</h1>
  <p>app-template</p>
  <ul id="weapons-list">
  </ul>
</script>

<script id="weapon-show-template" type="x-handlebars-template">
  <h2>{{name}}</h2>
  <h3>{{type}}</h3>
  <p>Number slain: {{number_slain}}</p>
</script>

<script id="weapons-index-template" type="x-handlebars-template">
  {{#each weapons}}
    {{>weapon}}
  {{/each}}
</script>


  <div id="main">
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
  <script src="https:////cdnjs.cloudflare.com/ajax/libs/handlebars.js/1.0.0/handlebars.min.js"></script>
    <script src="http://ajax.cdnjs.com/ajax/libs/underscore.js/1.5.1/underscore-min.js"></script>
    <script src="http://ajax.cdnjs.com/ajax/libs/backbone.js/1.0.0/backbone-min.js"></script>